<% if logged_in? %>
<% if mentor?(current_user) %>
  <div class="row">
    <aside class="col-md-4">
         <section class="user_info">
            <%= render 'shared/user_info' %>
         </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
    <!--Micropsot code was here -->
  </aside>
         <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
         </section>
<%end%>
         <div class="col-md-8"  id="alignpost">
             <h3 align="center">All Posts</h3>
               <%= render 'shared/feed' %>
         </div>
  </div>

<% else %>
    <div class="center jumbotron">
    	<h1>Welcome to Learn!</h1>
    	<h2>
      	Sign Up yourself!
    	</h2>
    	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

<% end %>