<% provide(:title, 'Add Topics') %>
<h2>Add More Topics:</h2>

<%= form_tag do %>
  <%= label_tag(:topic, "Add Topic:") %>
  <%= text_field_tag(:topic) %>
  <%= submit_tag("Add", :class =>"btn btn-primary")  %>
<% end %>

<%= render 'topic_list' %>

<!--  <div class="chip">
  <img src="kitten.jpg" alt="Person" width="96" height="96">
  John Doe
  <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
</div>  -->
