
<div class="topic_container" style="margin-top:20px;">
<div class="row">
  <ul class="ks-cboxtags">
  	<% user_topics = @user.topics%>
	<% @topics.each do |topic| %>
    <li><input type="checkbox" name="expert[]" id="<%= topic.id %>" <%= user_topics.include?(topic) ? "checked" : "" %> value="<%= topic.id%>"><label for="<%= topic.id %>"><%= topic.name %></label></li>
    <% end %>
  </ul>
</div>
</div>

