
<% if !current_page?(action: 'about') %>
      <% controller.redirect_to root_url %>
<%end %>

<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<div>
	<h1>Complete your profile!</h1>
	<h2> Choose your expertise: </h2>
</div>

<%= form_tag do  %>  
<div class="topic_container" style="margin-top:20px;">
  <ul class="ks-cboxtags">
  	<% user_topics = @user.topics%>
  	<% @topics.each do |topic| %>
      <li>
        <input type="checkbox" name="expert[]" id="<%= topic.id %>" <%= user_topics.include?(topic) ? "checked" : "" %> value="<%= topic.id%>"><label for="<%= topic.id %>"><%= topic.name %></label></li>
    <% end %>
  </ul>
</div>	
 <%= submit_tag("Add", :class =>"btn btn-primary", :id => "sendButton", data: { confirm: "NOTE: If nothing selected, Your profile will get converted to Normal User. Do you want to continue?" }) %>
<% end %>

<div class="info-msg">
  <i class="fa fa-info-circle"></i>
  NOTE: You are mentor. Please choose the topics you are expert in.
</div>



<script>

//This below function checks if content is filled or not




 // $(function(){
 //      $('#sendButton').click(function(){
 //        var val = [];
 //        $(':checkbox:checked').each(function(i){
 //          val[i] = $(this).val();
 //        });
 //          if(val.length == 0){
 //                     alert("Please choose some!");
 //                     $("form").submit(function(e){
 //                       var v = [];
 //                         $(':checkbox:checked').each(function(j){
 //                        v[j] = $(this).val();
 //                          });
 //                        if(v.length == 0){
 //                          alert(e.cancelable);
 //                          return false;
 //                        }
 //                      })
 //          }
 //      });
 //    });

$(function(){
    $("form").submit(function(e){
           var v = [];
           $(':checkbox:checked').each(function(j){
           v[j] = $(this).val();
           });
             if(v.length == 0){
                alert("Please choose atleast one expertise!")
                e.cancelable;
                return false;
             }
    })

});


</script>