
<% if !current_page?(action: 'about') %>
      <% controller.redirect_to root_url %>
<%end %>

<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<div>
	<h1>Complete your profile!</h1>
	<h2> Choose your expertise: </h2>
</div>

<%= form_tag do  %>  
<div class="topic_container" style="margin-top:20px;">
  <ul class="ks-cboxtags">
  	<% user_topics = @user.topics%>
	<% @topics.each do |topic| %>
    <li><input type="checkbox" name="expert[]" id="<%= topic.id %>" <%= user_topics.include?(topic) ? "checked" : "" %> value="<%= topic.id%>"><label for="<%= topic.id %>"><%= topic.name %></label></li>
    <% end %>
  </ul>
</div>	
 <%= submit_tag("Add", :class =>"btn btn-primary", data: { confirm: "NOTE: If nothing selected, Your profile will get converted to Normal User. Do you want to continue?" })  %>
<% end %>

<div class="info-msg">
  <i class="fa fa-info-circle"></i>
  NOTE: If nothing selected, Your profile will get converted to Normal User.
</div>



